.edit-car-form {
    padding: 20px;
    padding-top: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: Overpass;
}

.edit-car-header {
    text-align: left;
}

.car-model {
    margin-bottom: 30px;
}

.file-upload {
    margin-bottom: 10px;
}

#crop-preview {
    display: none;
}

.ReactCrop__image {
    max-height: 1000px;
}

.upload-preview {
    display: none;
}

.image-upload-container {
    min-height: calc(100vh - 80px);
}

.preview-header {
    font-size: 20px;
    margin-bottom: 0px;
}

.preview-container .car-card {
    margin-top: 0px;
}

.preview-btn {
    margin-top: 15px;
    float: right;
    margin-right: 20px;
}

.save-btn {
    margin-top: 15px;

    float: right;
    margin-right: 10px;
}

.image-item {
    display: inline-block;
    margin-left: 15px;
}

.chassis-code {
    opacity: 0.2;
    right: 0;
    position: absolute;
}

.car-stat-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.car-stat-prepend {
    font-weight: bold !important;
    background: #FFF;
}

.thumbnail-row {
    margin-top: 60px;
}

.car-model-form {
    background: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 10px;
}

.gallery-container {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    background: rgb(231, 231, 231);
    padding: 20px;
}